
# Exclude build/test files from archive
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.gitmodules        export-ignore
/.github            export-ignore
/.editorconfig      export-ignore

/.phive             export-ignore
/.php-cs-fixer.php  export-ignore
/phpunit.xml        export-ignore

/tests              export-ignore
/scripts            export-ignore
/shared-mime-info   export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php
*.phar -diff
